.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9,
.content10 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.externalCss {
    background-color: #89a1e7;
    color: black;
    padding: 8px;
    border-radius: 10px;
}

//Element Selector
p {
    background-color: #75d082;
    color: rgb(15, 0, 0);
    padding: 8px;
    border-radius: 10px;
}

//class Selector
.classSelector {
    background-color: #e1ea79;
    color: black;
    padding: 8px;
    border-radius: 10px;
}

//id Selector
#idSelector {
    background-color: #79eab3;
    color: black;
    padding: 8px;
    border-radius: 10px;
}


// Attribute Selector
input[type="text"] {
    width: 100%;
    color: red;
    padding: 8px;
    border-radius: 10px;
}


//CSS Units
// px
.content3 {
    .parent1 {
        width: 500px;
        height: 100px;
        background-color: #e86492;
        border-radius: 10px;
    }

}

//%
.content4 {
    overflow: auto;

    .parent2 {
        max-width: 50%;
        width: 100%;
        height: 100px;
        background-color: #4a9cd6;
        border-radius: 10px;

        .child2 {
            width: 50%;
            height: 50%;
            background-color: #f564dd;
            border-radius: inherit;
        }
    }
}

//em
.content5 {
    .parent3 {
        width: 100%;
        height: 10%;
        background-color: #e44733;
        border-radius: 10px;
        font-size: 30px;

        .child3 {
            width: 100%;
            height: 100%;
            font-size: 0.5em;
            background-color: #40e140;
            border-radius: inherit;
        }
    }
}


//rem
.content6 {
    .parent4 {
        width: 100%;
        height: 10%;
        background-color: #5836f4;
        border-radius: 10px;
        font-size: 0.7rem
    }
}

//Grid
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
    "header header"
    "sidebar body"
    "footer footer"
    ;
    padding: 10px;
    .header {
        background-color: #4a9cd6;
        grid-area: header;
    }
    .sidebar {
        background-color: #5836f4;
        grid-area: sidebar;
    }
    .content {
        background-color: white;
        grid-area: body;
    }
    .footer {
        background-color: #4a9cd6;
        grid-area: footer;
    }
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.dropdown.open {
  max-height: 200px;
  opacity: 1;
}



.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loader {
    width: 40px;
  height: 40px;
  border: 5px solid #2c42e7;
  border-top: 5px solid #ed314a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
